/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */
.header {
  background-color: rgba(51, 51, 51, 0.7); /* Dodavanje providnosti: 0.7 */
  padding: 10px;
}

/* Navigation styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav menu styles */
.nav__list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end; /* Poravnanje na desno */
}

/* Nav item styles */
.nav__item {
  margin-left: 20px; /* Promenjen margin-left na nav__item */
}

/* Nav link styles */
.nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Change link color on hover */
.nav__link:hover {
  color: #ffcc00;
}

/* Stil za pop-up korpu */
.cart-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Ovde možete podesiti prozirnost pozadine */
  z-index: 9999; /* Postavite z-index na veću vrednost da biste bili sigurni da je iznad ostalih elemenata */
}

/* Stil za sadržaj korpe */
.cart-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Dodaj senku oko sadržaja */
  z-index: 10000; /* Postavite z-index veći od .cart-popup-a */
  text-align: center; /* Poravnanje teksta u centar */
}



.dropbtn {
  background-color: #4CAF50; /* Boja bez providnosti */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  opacity: 0.5; /* Providnost elementa (providnost 50%) */
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


.proizvodi-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Da rasporedi proizvode ravnomerno */
}

.proizvod-wrapper {
  width: calc(20% - 10px); /* Širina jednog proizvoda (20% sa malim razmakom) */
  margin-bottom: 20px; /* Razmak između redova */
}
.proizvodi-container {
  
  justify-content: center;
}


.button-container {
  display: flex;
  gap: 10px; /* Razmak između elemenata */
  justify-content: center; /* Poravnanje elemenata po sredini */
  margin-top: 20px; /* Opciono, dodatni razmak na vrhu */
}
